.wrapper {
  @extend %wrapper;
  background-color: $lavender;

  @media (max-width: $TABLET) {
    padding-top: 100px;
  }

  @media (max-width: $MOBILE) {
    padding-top: 40px;
  }
}

.container {
  @extend %container;
  @extend %flex-between;
  gap: 20px;

  @media (max-width: $TABLET) {
    flex-direction: column;
    align-items: normal;
  }
}

.content {
  row-gap: 32px;
  max-width: 625px;
  flex: 1 1 100%;
}

.imageContainer {
  flex: 1 1 100%;
}

.image {
  width: 100%;
  max-width: 516px;
  object-fit: cover;
  @media (max-width: $TABLET) {
    max-width: none;
  }
}

.titleClass {
  font-size: 36px !important;
}
