.wrapper {
  padding: 96px 0;
  background-color: $lavender;

  @media (max-width: $TABLET) {
    padding: 40px 0;
  }
}
.container {
  @extend %container;
  @extend %flex-between;
  align-items: flex-start;
  column-gap: 82px;

  @media (max-width: $TABLET) {
    flex-direction: column;
    row-gap: 40px;
  }
}

.about {
  flex: 1 1 auto;
}

.aboutTitleClass {
  font-size: 36px;

  @media (max-width: $TABLET) {
    font-size: 28px;
  }
}
.mission {
  flex: 1 1 auto;
}

.link {
  @extend %hover;
  @extend %active;
  transition: $transition;
  color: $purple;
  font-size: 18px;
  font-weight: 700;
  line-height: 175%;
  margin-top: 16px;
  display: inline-block;
}
