.button {
  display: inline-flex;
  padding: 16px 48px;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 700;
  line-height: 133.333%;
  color: $black;
  transition: $transition;
  background: $yellow;

  @extend %hover;

  @extend %active;

  &.white {
    background: $white;
  }
}
