.wrapper {
  @extend %wrapper;
  padding: 96px 0;

  @media (max-width: $TABLET) {
    padding: 40px 0;
  }
}

.container {
  @extend %container;
  @extend %flex-column;
  max-width: 1100px;
  row-gap: 64px;

  @media (max-width: $TABLET) {
    row-gap: 40px;
  }
}

.titleClass {
  font-size: 48px;
}
