.wrapper {
  @extend %wrapper;
  flex: 0 1 30%;
}

.categories {
  @extend %flex-column;
  row-gap: 40px;
}

.categoriesTitleClass {
  font-size: 36px;
  font-weight: 700;
  line-height: 132%;
}

.categoriesListClass {
  @extend %flex-column;
  row-gap: 24px;
}

.categoryItemClass {
  display: flex;
  align-items: center;
  column-gap: 16px;
  background-color: $white;
  padding: 24px;
  transition: $transition;
  border: 1.5px solid $darkGray;

  &:hover {
    cursor: pointer;
    border: 1.5px solid $yellow;
    background-color: $yellow;
    transition: $transition;
  }

  &.activeClass {
    border: 1.5px solid $yellow;
    background-color: $yellow;
    transition: $transition;
  }
}

.categoryItemTitleClass {
  font-size: 28px;
  font-weight: 700;
  line-height: 142%;
  letter-spacing: -1px;
}

.imageCotainer {
  width: 48px;
  height: 48px;
  @extend %flex-center;
  background-color: $lightYellow;
  border-radius: 12px;
}
