.header {
  background-color: $black;
  color: $white;
  min-height: 80px;
  @extend %flex-between;

  @media (max-width: $TABLET) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    min-height: 60px;
  }
}

.container {
  @extend %container;
  @extend %flex-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 200%;
  transition: $transition;
  @extend %hover;
  @extend %active;

  @media (max-width: $TABLET) {
    font-size: 20px;
  }
}

.navigationClass {
  @extend %flex-between;
  column-gap: 24px;

  @media (max-width: $TABLET) {
    position: fixed;
    z-index: 45;
    right: 0;
    height: 100vh;
    top: 0px;
    width: 350px;
    padding: 60px 50px 20px;
    align-items: flex-start;
    flex-direction: column;
    transition: $transition;
    transform: translateX(110%);

    @media (max-width: $MOBILE) {
      width: 100%;
      padding: 20px;
      align-items: center;
      padding: 100px 50px 20px;
    }

    &.active {
      background-color: $black;
      transform: translateX(0);
      transition: $transition;
    }
  }
}
