.wrapper {
  @extend %wrapper;
  padding: 128px 0px;

  @media (max-width: $TABLET_SMALL) {
    padding: 100px 0 40px 0;
  }
}

.container {
  @extend %container;
  @extend %flex-column;
  overflow: hidden;

  max-width: 768px;
}

.header {
  @extend %flex-center;
  margin-bottom: 64px;

  @media (max-width: $TABLET_SMALL) {
    margin-bottom: 20px;
  }
}

.labelClass {
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.titleClass {
  text-align: center;
  font-size: 48px;
  margin-bottom: 24px;

  @media (max-width: $TABLET_SMALL) {
    margin-bottom: 10px;
    font-size: 28px !important;
  }
}

.subtitleClass {
  color: $mediumGray;
  text-align: center;
  @extend %text;
}

.bannerClass {
  padding: 48px 64px;
  background-color: $purple;
  display: flex;
  column-gap: 42px;
  margin-bottom: 32px;

  @media (max-width: $TABLET_SMALL) {
    padding: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    row-gap: 40px;
  }

  @media (max-width: $MOBILE) {
    row-gap: 20px;
  }
}

.bannerContent {
  @extend %flex-column;
  display: flex;
  width: 100%;

  @media (max-width: $TABLET_SMALL) {
    align-items: center;
  }
}

.bannerHeader {
  color: $white;
  font-size: 14px;
  opacity: 0.6;
  padding-bottom: 16px;
  border-bottom: 1px solid $white;
  margin-bottom: 16px;
}

.bannerTitle {
  color: $white !important;
  font-size: 20px !important;
  letter-spacing: 0 !important;

  @media (max-width: $MOBILE) {
    font-size: 18px !important;
  }
}

.bannerText {
  color: $white;
  opacity: 0.6;
  @extend %text;

  @media (max-width: $TABLET_SMALL) {
    text-align: center;
  }
  @media (max-width: $MOBILE) {
    font-size: 14px !important;
  }
}
