.wrapper {
  @extend %wrapper;
}

.container {
  @extend %container;
  @extend %flex-column;
  row-gap: 4px;

  @media (max-width: $TABLET_SMALL) {
    row-gap: 8px;
  }
}

.titleClass {
  color: $mediumGray;
  font-size: 14px;
  line-height: 142%;

  @media (max-width: $TABLET_SMALL) {
    text-align: center;
    font-size: 18px;
  }
}

.list {
  @extend %flex-between;
  align-items: center;
  gap: 20px;

  @media (max-width: $TABLET) {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 160px));
    grid-template-rows: repeat(2, 1fr);
  }
  @media (max-width: $TABLET_SMALL) {
    grid-template-columns: repeat(2, minmax(100px, 160px));
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
  }
  @media (max-width: $MOBILE) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
