@import url('https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css');

.wrapper {
  @extend %wrapper;

  width: 100%;
  max-width: 1920px;
  margin: 0px auto;

  @media (max-width: $MOBILE) {
    padding: 0;
  }
}

.container {
  min-height: 300px;

  @media (max-width: $TABLET) {
    min-height: 200px;
  }
}
