.wrapper {
  @extend %wrapper;
  padding: 80px 0;
  background-color: $lavender;

  @media (max-width: $TABLET) {
    padding-top: 140px;
  }

  @media (max-width: $MOBILE) {
    padding: 90px 0 40px 0;
  }
}

.container {
  @extend %container;
  @extend %flex-center;
  row-gap: 4px;
}

.titleClass {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 133%;

  &:first-letter {
    text-transform: uppercase;
  }

  @media (max-width: $TABLET) {
    font-size: 36px;
  }

  @media (max-width: $MOBILE) {
    font-size: 32px;
  }
}

.textClass {
  color: $black;
  text-align: center;
  max-width: 520px;
  @extend %text;
  opacity: 0.6;

  @media (max-width: $MOBILE) {
    font-size: 14px;
  }
}

.labelClass {
  text-align: center;
  color: $black;
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 28px;

  @media (max-width: $TABLET) {
    margin-top: 20px;
  }
}
